# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import ipywidgets as widgets
import pprint
import json
gmaps.configure(api_key="AIzaSyCxG3NWSK0JgkvTSQGT539XtqZgyg3N-8w")

gkey = "AIzaSyCxG3NWSK0JgkvTSQGT539XtqZgyg3N-8w"
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [46]:
weather_data_df = pd.read_csv("..\weather.csv") 
weather_data_df

,City,Lat,Lng,Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ushuaia,-54.80,-68.30,37.400,37.400,86,90,10.30,AR,1595570142
1,balangiga,11.11,125.39,86.360,86.360,68,100,2.54,PH,1595570142
2,carnarvon,-24.87,113.63,78.800,78.800,31,0,4.10,AU,1595570143
3,punta arenas,-53.15,-70.92,39.092,39.200,86,100,7.70,CL,1595570136
4,ponta do sol,32.67,-17.10,66.056,69.998,78,0,1.56,PT,1595570143
...,...,...,...,...,...,...,...,...,...,...
556,myronivka,49.66,30.98,65.192,65.192,72,47,3.07,UA,1595570237
557,tawang,27.58,91.87,64.688,64.688,73,85,2.11,IN,1595570237
558,fernie,49.50,-115.07,66.002,66.002,43,0,2.68,CA,1595570237
559,ust-tsilma,65.44,52.15,76.460,76.460,38,5,3.32,RU,1595570238
560,keti bandar,24.14,67.45,89.924,89.924,65,59,8.26,PK,1595570238

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [85]:
ponta_delgada = (37.74, 25.67)
fig = gmaps.figure(map_type='HYBRID',center =ponta_delgada, zoom_level=2)
heatmap_layer = gmaps.heatmap_layer(
    weather_data_df[["Lat","Lng"]], weights=weather_data_df["Humidity"], max_intensity = 150, point_radius = 10.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [93]:
bool_series = weather_data_df["Max Temp"].between(65,85,inclusive=True) #geeksforgeeks.org
ideal_weather_df = weather_data_df[bool_series]

In [94]:
ideal_weather_df = ideal_weather_df[ideal_weather_df["Humidity"] <= 30]

In [95]:
ideal_weather_df_df = ideal_weather_df[ideal_weather_df["Wind Speed"] <= 50]

In [99]:
ideal_weather_df = ideal_weather_df[ideal_weather_df["Cloudiness"] <= 20]
ideal_weather_df.describe()

,Lat,Lng,Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,8.000000,8.000000,8.000000,8.00000,8.000000,8.000000,8.000000,8.000000e+00
mean,-4.118750,90.155000,74.849000,75.21125,21.500000,0.125000,4.112500,1.595570e+09
std,39.900483,61.532945,5.429065,5.11008,4.598136,0.353553,3.524071,3.325228e+01
min,-34.040000,14.510000,66.632000,68.00000,17.000000,0.000000,0.500000,1.595570e+09
25%,-25.592500,21.077500,71.600000,71.60000,17.750000,0.000000,1.765000,1.595570e+09
50%,-23.330000,119.670000,73.436000,74.20100,20.500000,0.000000,3.100000,1.595570e+09
75%,-1.087500,135.285000,78.939500,78.93950,24.000000,0.000000,5.375000,1.595570e+09
max,62.530000,155.800000,83.102000,83.10200,29.000000,1.000000,10.800000,1.595570e+09

In [100]:
ideal_weather_df

,City,Lat,Lng,Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
56,luderitz,-26.65,15.16,73.400,73.400,17,0,7.70,NaN,1595570153
81,alekseyevsk,57.84,108.35,83.102,83.102,29,0,1.98,RU,1595570157
98,yulara,-25.24,130.99,71.600,71.600,23,0,2.60,AU,1595570160
119,walvis bay,-22.96,14.51,66.632,68.000,18,0,10.80,NaN,1595570164
159,alice springs,-23.70,133.88,73.472,75.002,19,0,3.60,AU,1595570170
204,omsukchan,62.53,155.80,78.386,78.386,27,1,1.12,RU,1595570177
529,knysna,-34.04,23.05,71.600,71.600,17,0,4.60,ZA,1595570233
535,mount isa,-20.73,139.50,80.600,80.600,22,0,0.50,AU,1595570234

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [101]:
hotel_df=ideal_weather_df.copy()
hotel_df["Hotel"]=""

for index,row in hotel_df.iterrows():

    try:
        target_coordinates = f"{row['Lat']}, {row['Lng']}" 
        target_keyword = "lodging"
        target_type = "lodging" 
        target_radius = "5000"

        params = {
            "keyword": target_keyword,
            "location": target_coordinates,
            "radius": target_radius,
            "type": target_type,
            "key": gkey
        }

        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        response = requests.get(base_url, params=params)
        data=response.json()
        hotel_df.loc[index,"Hotel"] = data["results"][0]["name"]
        
    except:
        print(f"You can't stay in {row['City']}, {row['Country']}...unless you bring a tent or you know somebody!")
        
hotel_df

You can't stay in alekseyevsk, RU...unless you bring a tent or you know somebody!
You can't stay in omsukchan, RU...unless you bring a tent or you know somebody!

,City,Lat,Lng,Temp,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
56,luderitz,-26.65,15.16,73.400,73.400,17,0,7.70,NaN,1595570153,Kairos Cottage
81,alekseyevsk,57.84,108.35,83.102,83.102,29,0,1.98,RU,1595570157,
98,yulara,-25.24,130.99,71.600,71.600,23,0,2.60,AU,1595570160,The Lost Camel Hotel - Ayers Rock Resort
119,walvis bay,-22.96,14.51,66.632,68.000,18,0,10.80,NaN,1595570164,The Rez Guesthouse
159,alice springs,-23.70,133.88,73.472,75.002,19,0,3.60,AU,1595570170,DoubleTree by Hilton Hotel Alice Springs
204,omsukchan,62.53,155.80,78.386,78.386,27,1,1.12,RU,1595570177,
529,knysna,-34.04,23.05,71.600,71.600,17,0,4.60,ZA,1595570233,Pezula Resort Hotel & Spa
535,mount isa,-20.73,139.50,80.600,80.600,22,0,0.50,AU,1595570234,Abacus Motel

In [102]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [103]:
# Add marker layer ontop of heat map
marker_locations= hotel_df[["Lat","Lng"]]
fig = gmaps.figure(map_type='HYBRID',center =ponta_delgada, zoom_level=2)
heatmap_layer = gmaps.heatmap_layer(
    weather_data_df[["Lat","Lng"]], weights=weather_data_df["Humidity"], max_intensity = 150, point_radius = 10.0)
fig.add_layer(heatmap_layer)
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))